build
**/frontend/generated
vite.config.ts
vite.generated.ts
*.log
**/rebel.xml
*.war
*.ear
*.tar
rebel.xml
.class
*.class
dist
bin
target
.DS_Store
*.scss.cache
.designer
.factorypath
.metadata
.settings
.idea
.vscode
.classpath
.project
node_modules
graphenee.db*
package-lock.json
webpack.generated.js
webpack.config.js
/gx/gx-workshop-flow/src/main/dev-bundle/