@font-face {
    font-family: 'Roboto Flex';
    src: url('/frontend/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/frontend/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth,wght.ttf');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    --lumo-font-family: "Roboto Flex";
    --lumo-primary-text-color: #111111;
    --lumo-primary-color-50pct: #9400FF80;
    --lumo-primary-color-10pct: #9400FF20;
    --lumo-error-text-color: #C62828;
    --lumo-error-color-50pct: #C6282880;
    --lumo-error-color-10pct: #C6282820;
    --lumo-success-text-color: rgb(20, 184, 143);
    --lumo-success-color-50pct: rgba(20, 184, 143, .5);
    --lumo-success-color-10pct: rgba(20, 184, 143, .1);
    --lumo-primary-color: #9400FF;
    --lumo-error-color: #C62828;
    --lumo-success-color: hsl(165, 80%, 40%);
    --lumo-header-text-color: hsl(285, 35%, 15%);
    --lumo-body-text-color: hsla(285, 40%, 16%, .94);
    --lumo-secondary-text-color: hsla(285, 42%, 18%, .72);
    --lumo-tertiary-text-color: hsla(285, 45%, 20%, .5);
    --lumo-disabled-text-color: hsla(285, 50%, 22%, .26);
    --background-text-color: #AED2FF;
    --background-color: #27005D;
    font-size: 0.90rem;
    font-variation-settings:
        "slnt" -2,
        "wdth" 87.5,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

.gx-login-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.gx-login-app-logo {
    > img {
        max-height: 3rem;
        max-width: 9rem;
    }
}

.gx-login-app-title-version {
    display: flex;
    gap: 0.5rem;
    align-items: bottom;
}

.gx-login-app-title {
    font-size: var(--lumo-font-size-xxxl);
    flex: 0;
    line-height: normal;
}

.gx-login-app-version {
    font-size: var(--lumo-font-size-xs);
}

.gx-login-form {
    vaadin-login-form-wrapper {
        border-radius: 0.5rem;
    }
}

vaadin-app-layout::part(navbar) {
    background-color: var(--background-color);
    color: var(--background-text-color);
}

.gx-right-drawer {
    box-shadow: -0.5rem 0.0rem 0.5rem #0001;
    z-index: 100;
}

.gx-login-view {
    display: flex;
    flex-flow: column;
    background-color: var(--background-color);
    color: var(--background-text-color);
}

.gx-reset-password-view {
    display: flex;
    flex-flow: column;
    background-color: var(--background-color);
    color: var(--background-text-color);
}

.gx-reset-password-layout {
    width: 320px;
    max-width: 320;
}

.gx-login-root-layout {
    width: 320px;
    max-width: 320px;
}

.gx-reset-password-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    padding: var(--lumo-space-l);
    gap: var(--lumo-space-m);
}

::-webkit-scrollbar {
    width: 0.4rem;
    background-color: transparent;
    display: block;
    overflow: auto;
}

::-webkit-scrollbar-thumb {
    background-color: #eee;
}

vaadin-grid::part(last-row) {
    border-bottom: var(--_lumo-grid-border-width) solid var(--_lumo-grid-secondary-border-color);
    font-size: 0.9rem;
}

vaadin-grid::part(cell) {
    font-size: 0.9rem;
}

.gx-entity-list>* {
    margin: 0px;
    padding: 0px;
}

.gx-grid {
    border-left: none;
    border-right: none;
}

.gx-grid-footer {
    padding: var(--lumo-space-s);
}

.gx-grid-search-layout {
    padding: var(--lumo-space-s);
}

vaadin-menu-bar-button {
    width: 0px;
}

.gx-dms-breadcrumb-layout {
    padding: 0 var(--lumo-space-s) 0 var(--lumo-space-s);
    vaadin-button[theme="icon"] {
        width: 0px;
    }
}


.gx-grid-menubar-layout {
    padding: var(--lumo-space-s);   
}

.gx-login-title {
    font-size: 1.5rem;
    max-width: min-content;
}

.gx-login-version {
    margin: 0.25rem;
}

.gx-login-title-layout * {
    color: white;
}

vaadin-button[theme~="primary"] {
    color: white;
}

vaadin-login-form-wrapper {
    border-radius: 0 0 var(--lumo-border-radius) var(--lumo-border-radius);
}

.gx-login-title-layout {
    background: var(--lumo-primary-color);
    padding: 1rem;
    border-radius: var(--lumo-border-radius) var(--lumo-border-radius) 0 0;
}

.gx-avatar-small {
    text-transform: uppercase;
    width: 2rem;
    height: 2rem;
}

.gx-avatar-large {
    text-transform: uppercase;
    width: 6.5rem;
    height: 6.5rem;
    margin: 2rem !important;
}

.gx-app-layout-logout {
    height: 100%;
    margin-left: 0.4rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0rem;
}

.gx-app-layout-logout::part(label) {
    color: var(--background-text-color);
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
}

vaadin-app-layout::part(drawer) {
    box-shadow: 0.5rem 0.0rem 0.5rem #0001;
    z-index: 100;
}

vaadin-side-nav-item::part(link) {
    padding: 0.5rem 1rem;
}

vaadin-icon {
    color: var(--background-color);
}

vaadin-tab {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

.gx-nav-menuitem {
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--lumo-font-size-xs);
    background: white;
}

.gx-layout-title {
    text-transform: uppercase;
}

vaadin-side-nav-item::part(link) {
    margin: 0.2rem;
    border-radius: 0 1rem 1rem 0;
}

vaadin-side-nav-item::part(link):hover {
    color: var(--lumo-primary-color);
    background: var(--lumo-primary-color-10pct);
}

vaadin-side-nav-item:hover {
    background: var(--lumo-primary-color-10pct);
}

vaadin-checkbox::part(checkbox) {
    background: var(--background-color)
}

vaadin-button {
    font-weight: bold;
}

vaadin-button[theme~="error"] {
    border: 0.1rem solid;
    font-weight: bold
}

vaadin-button[theme~="success"] {
    border: 0.1rem solid;
    font-weight: bold;
}

vaadin-context-menu-item,
vaadin-menu-bar-button {
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--lumo-font-size-xs);
}

vaadin-context-menu-item vaadin-icon {
    margin-right: 0.5rem;
    width: 1rem;
}

.gx-document-chooser-item {
    align-items: flex-end;
    width: 4em;
    text-align: start;
}

.gx-document-chooser-item label {
    font-size: smaller;
    line-height: normal;
}