@font-face {
    font-family: 'Roboto Flex';
    src: url('/frontend/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/frontend/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth,wght.ttf');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    --lumo-font-family: 'IBM Plex Sans';
    --lumo-secondary-color: #ff4081;
    --lumo-secondary-variant: #03dac5;
    --lumo-primary-color: #6200ee;
    --lumo-primary-text-color: #5200ee;
    --lumo-primary-variant: #3700b3;
    --lumo-primary-variant-text: #3700b3;
    --background-text-color: white;
    --background-color: black;
    font-size: 0.90rem;
    font-variation-settings:
        "slnt" -1,
        "wdth" 87.5,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    --vaadin-form-layout-column-spacing: var(--lumo-space-m);
}

.gx-layout-grouped {
    display: flex;
    flex-wrap: wrap;
    gap: var(--vaadin-form-layout-column-spacing);
    align-items: stretch;
}

.gx-layout-grouped > * {
    flex: 1 1;
    min-width: 200px;
}

.gx-layout-grouped > vaadin-checkbox {
    flex: none;
    min-width: fit-content;
}

.gx-layout-grouped > vaadin-radio-button {
    flex: none;
    min-width: fit-content;
}

.gx-login-root-layout {
    width: 320px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.gx-reset-password-layout {
    width: 320px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.gx-login-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.gx-login-app-logo {
    display: flex;
    justify-content: end;
    > img {
        max-height: 3rem;
        max-width: 9rem;
    }
}

.gx-login-app-title-version {
    justify-content: space-between;
    display: flex;
    gap: 0.5rem;
    align-items: end;
}

.gx-login-app-title {
    font-size: var(--lumo-font-size-xxxl);
    flex: 1;
    line-height: normal;
}

.gx-login-app-version {
    font-size: var(--lumo-font-size-xs);
}

.gx-login-form {
    vaadin-login-form-wrapper {
        border-radius: 0.5rem;
    }
}

vaadin-app-layout::part(navbar) {
    background-color: var(--background-color);
    color: var(--background-text-color);
}

.gx-right-drawer {
    box-shadow: -0.5rem 0.0rem 0.5rem #0001;
    z-index: 100;
}

.gx-login-view {
    display: flex;
    flex-flow: column;
    background-color: var(--background-color);
    color: var(--background-text-color);
}

.gx-reset-password-view {
    display: flex;
    flex-flow: column;
    background-color: var(--background-color);
    color: var(--background-text-color);
}

.gx-reset-password-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    padding: var(--lumo-space-l);
    gap: var(--lumo-space-m);
}

input,label,vaadin-button,textarea {
    font-size: 0.9rem; 
}

.gx-grid {
    border: none;
}

.gx-grid-footer {
    padding: var(--lumo-space-s) var(--lumo-space-m) var(--lumo-space-s) var(--lumo-space-m);
    gap: var(--lumo-space-s);
    font-weight: bold;
    border-top: 0.1rem solid var(--lumo-contrast-20pct);
}

.gx-form-footer {
    padding: var(--lumo-space-s) var(--lumo-space-m) var(--lumo-space-s) var(--lumo-space-m);
    gap: var(--lumo-space-s);
    background-color: var(--lumo-contrast-5pct);
}

.gx-grid-search-layout {
    padding: 0 var(--lumo-space-s) 0 var(--lumo-space-s);
}

vaadin-dialog-overlay .gx-entity-list {
    padding: 0 !important;
}

.gx-form-title {
    text-transform: none;
	color: var(--background-text-color);
	font-weight: bold;
    margin: 0;
    padding: var(--lumo-space-s) var(--lumo-space-m) var(--lumo-space-s) var(--lumo-space-m)
}

.gx-form-title-layout {
	background-color: var(--lumo-primary-color);
}

::-webkit-scrollbar {
    width: 0.4rem;
    background-color: transparent;
    display: block;
    overflow: auto;
}

::-webkit-scrollbar-thumb {
    background-color: #eee;
}

vaadin-grid::part(last-row) {
    border-bottom: var(--_lumo-grid-border-width) solid var(--_lumo-grid-secondary-border-color);
    font-size: 0.9rem;
}

vaadin-grid vaadin-checkbox {
    scale: 85%;
}

vaadin-grid::part(cell) {
    font-size: 0.9rem;
}

vaadin-menu-bar-button {
    width: 0px;
}

.gx-dms-breadcrumb-layout {
    vaadin-button[theme="icon"] {
        width: 0px;
    }
}


.gx-grid-menubar-layout {
    padding: var(--lumo-space-s);   
}

.gx-login-title {
    font-size: 1.5rem;
    max-width: min-content;
}

.gx-login-version {
    margin: 0.25rem;
}

.gx-login-title-layout * {
    color: white;
}

vaadin-button[theme~="primary"] {
    color: white;
}

vaadin-login-form-wrapper {
    border-radius: 0 0 var(--lumo-border-radius) var(--lumo-border-radius);
}

.gx-login-title-layout {
    background: var(--lumo-primary-color);
    padding: 1rem;
    border-radius: var(--lumo-border-radius) var(--lumo-border-radius) 0 0;
}

.gx-app-layout-toggle {
    color: var(--background-text-color);
}

.gx-app-layout-title {
    color: var(--background-text-color);
    font-size: var(--lumo-font-size-xl);
}

.gx-app-layout-version {
    color: var(--background-text-color);
    font-size: var(--lumo-font-size-xxs);
}

.gx-app-layout-title-version {
    display: flex;
    gap: var(--lumo-space-xs);
}

.gx-avatar-small {
    text-transform: uppercase;
    color: var(--background-color);
    font-size: large;
    background-color: var(--background-text-color);
}

.gx-avatar-large {
    text-transform: uppercase;
    width: 6.5rem;
    height: 6.5rem;
    color: var(--background-color);
    font-size: large;
    background-color: var(--background-text-color);
}

.gx-app-layout-logout {
    height: 100%;
    margin-left: 0.4rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0rem;
}

.gx-app-layout-logout::part(label) {
    color: var(--background-text-color);
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
}

vaadin-app-layout::part(drawer) {
    box-shadow: 0.5rem 0.0rem 0.5rem #0001;
    z-index: 100;
}

vaadin-side-nav-item::part(link) {
    padding: 0.5rem 1rem;
}

vaadin-icon {
    color: var(--background-color);
}

vaadin-tab {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

.gx-nav-menuitem {
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--lumo-font-size-xs);
    background: white;
}

.gx-layout-title {
    text-transform: uppercase;
}

vaadin-side-nav-item::part(link) {
    margin: 0rem;
}

vaadin-side-nav-item::part(link):hover {
    color: var(--lumo-primary-color);
    background: var(--lumo-primary-color-10pct);
}

vaadin-side-nav-item:hover {
    background: transparent;
}

vaadin-checkbox::part(checkbox) {
    background: var(--background-color)
}

vaadin-context-menu-item,
vaadin-menu-bar-button {
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--lumo-font-size-xs);
    background-color: var(--lumo-shade-10pct);
}

vaadin-context-menu-item vaadin-icon {
    margin-right: 0.5rem;
    width: 1rem;
}

.gx-document-chooser-item {
    align-items: flex-end;
    width: 4em;
    text-align: start;
}

.gx-document-chooser-item label {
    font-size: smaller;
    line-height: normal;
}

.gx-preview-content-wrapper {
    height: 100%;
    width: 100%;
}

.gx-lang-selection-bar {
    display: flex;
    gap: 0;
    .gx-lang-button {
        background-color: var(--background-text-color);
        color: var(--lumo-primary-color);
        margin: 0 3px 0 0;
        border-radius: 0;
        padding: 0 var(--lumo-space-s);
    }
    .gx-lang-selected {
        background-color: var(--lumo-primary-color) !important;
        color: var(--background-text-color) !important;
    }
    padding-inline-end: 1rem;
}

.gx-lang-selection-bar > :first-child {
  padding-inline-start: 0.6rem;
  padding-inline-end: 0.4rem;
  border-start-start-radius: var(--lumo-border-radius-s);
  border-end-start-radius: var(--lumo-border-radius-s);
}

.gx-lang-selection-bar > :last-child {
  padding-inline-start: 0.4rem;
  padding-inline-end: 0.6rem;
  border-start-end-radius: var(--lumo-border-radius-s);
  border-end-end-radius: var(--lumo-border-radius-s);
}
