@font-face {
  font-family: "Roboto Condensed";
  src: url("/frontend/fonts/RobotoCondensed-Regular.ttf");
}

html,
:host {
  --lumo-font-family: "Roboto Condensed";
  --lumo-space-xl: 1.875rem;
  --lumo-space-l: 1.25rem;
  --lumo-space-m: 0.625rem;
  --lumo-space-s: 0.3125rem;
  --lumo-space-xs: 0.1875rem;
  --lumo-size-xl: 3rem;
  --lumo-size-l: 2.5rem;
  --lumo-size-m: 2rem;
  --lumo-size-s: 1.75rem;
  --lumo-size-xs: 1.5rem;
  --lumo-font-size: 1rem;
  --lumo-font-size-xxxl: 1.75rem;
  --lumo-font-size-xxl: 1.375rem;
  --lumo-font-size-xl: 1.125rem;
  --lumo-font-size-l: 1rem;
  --lumo-font-size-m: 0.875rem;
  --lumo-font-size-s: 0.8125rem;
  --lumo-font-size-xs: 0.75rem;
  --lumo-font-size-xxs: 0.6875rem;
  --lumo-primary-color-50pct: rgba(57, 172, 118, 0.5);
  --lumo-primary-color-10pct: rgba(57, 172, 118, 0.1);
  --lumo-primary-color: rgb(57, 172, 118);
  --lumo-error-text-color: rgb(213, 1, 5);
  --lumo-error-color-50pct: rgba(213, 1, 5, 0.5);
  --lumo-error-color-10pct: rgba(213, 1, 5, 0.1);
  --lumo-error-color: hsl(359, 99%, 42%);
  --lumo-success-text-color: rgb(13, 150, 116);
  --lumo-success-color-50pct: rgba(13, 150, 116, 0.5);
  --lumo-success-color-10pct: rgba(13, 150, 116, 0.1);
  --lumo-success-color: hsl(165, 84%, 32%);
}

* {
  --app-layout-bar-background-color: #36454f;
  --app-layout-bar-font-color: #fff;
}

.gx-login-view {
  display: flex;
  flex-flow: column;
  background: var(--app-layout-bar-background-color);
}

.gx-reset-password-view {
  display: flex;
  flex-flow: column;
  background: var(--app-layout-bar-background-color);
}

::-webkit-scrollbar {
  width: 0.4em;
  background-color: transparent;
  display: block;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background: #eee;
}

.gx-info-color {
  color: #17a2b8;
}

.gx-warning-color {
  color: #ffc107;
}

.gx-danger-color {
  color: #dc3545;
}

.gx-success-color {
  color: #28a745;
}

div[slot="application-content"] {
  height: calc(100% - 72px) !important;
}

:host [part~="cell"].gx-grid-warning-color {
  background-color: #ffc107;
}

:host [part~="cell"].flex-space-between {
  display: flex;
  justify-content: space-between;
}

:host [part~="header-cell"] {
  white-space: normal;
}

:host [part~="row"][last] {
  border-bottom: 2px solid var(--lumo-contrast-10pct);
}

:host [part~="form"]>[part~="footer"] {
  display: none;
}

:host([theme~="no-padding"]) [part="content"] {
  padding: 0;
}

.footer-layout {
  padding-top: 1%;
  padding-left: 6%;
  font-size: 85%;
}