.gx-form-footer {
  background: rgb(241, 242, 245);
  margin-top: 25px;
  padding: 2px 6px;
}
.gx-tab {
}
.gx-saveButton {
}
.gx-resetButton {
}
.gx-dismissButton {
}
.gx-searchButton {
}
.gx-clearButton {
}
.gx-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.gx-form-horizontal-layout {
}
.gx-vertical-layout {
}
